<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sup"
        tools:targetApi="31">
        <activity
            android:name=".Recuperar_senha"
            android:exported="false" />
        <activity
            android:name=".Dados_da_conta"
            android:exported="false" />
        <activity
            android:name=".Casdastra_se"
            android:exported="false" />
        <activity
            android:name=".TipoDeCadastro"
            android:exported="false" />
        <activity
            android:name=".Cadastras_se"
            android:exported="false" />
        <activity
            android:name=".CadastreSeAtendente"
            android:exported="false" />
        <activity
            android:name=".SuporteMenu"
            android:exported="false" />
        <activity
            android:name=".GeradorTicket"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>